#cgc-contest-form {
	.reveal-modal-header {
		margin-bottom:0;
	}

	.gform_heading {
		margin-bottom:20px;
		padding-bottom:14px;
		border-bottom:1px solid $border_color;
	}

	.close-reveal-modal {
		top:12px;
	}
}