// body
.cgc-contest-page {
	ul {
		list-style:none;
		padding:0;
		margin:0;
	}
	.page-content {
		position:relative;
		top:-15px;

		.page-content-inner {
			padding:0 15px;
			position:relative;
			top:-150px;
		}
	}
}

.cgc-contest-back{
	background:$background;
	background:$text_background;
	padding:15px;
}

.cgc-contest-header {
	text-align:center;
	position:relative;
	height:0;
	padding-bottom:50%;

	.cgc-contest-header-img {
		position:absolute;
		left:0;
		top:0;
		height:100%;
		width:100%;
		z-index:0;
		background-size:contain;
		background-repeat:no-repeat;
		background-position:top center;
	}

	.cgc-contest-header-inner {
		position:relative;
		z-index:1;
		top:50px;
		text-shadow:0 1px 1px rgba(0,0,0,0.5);
	}

	h1 {
		margin-bottom:0;
	}
	h1 + h2 {
		font-size:20px;
		margin-top:0;
	}
}

// similar
.cgc-contest-sponsors-wrap,
.cgc-contest-awards-wrap,
.cgc-contest-cta-wrap,
.cgc-contest-recent-entries {
	padding-left:15px;
	padding-right:15px;
	margin-bottom:$margin;

}

.cgc-contest-recent-entries,
.cgc-contest-main {
	@include clearfix();
	margin-bottom:$margin;

	h3 {
		margin-top:0;
		line-height:26px;
		padding-bottom:8px;
		border-bottom:1px solid $border_color;
	}
	.cgc-contest-info {
		@include column(8);
		padding-right:0;
	}
	.cgc-contest-sidebar {
		@include column(4);
	}
}

.cgc-contest-rules {
	li {
		position:relative;
		padding-left:35px;
		margin-bottom:$margin;
		line-height:20px;

		&:before {
			content:'\f14a';
			font-family:FontAwesome;
			position:absolute;
			left:0;
			top:4px;
			font-size:22px;
			color:$blenderColor;
		}
	}
}


// sponsors
.cgc-contest-sponsors-wrap {
	.cgc-contest-inner {
		padding-left:0;
		padding-right:0;
	}
	h4 {
		text-align:center;
		margin-bottom:$margin;
	}

	.cgc-contest-sponsor-logos {
		@include clearfix();
		li {
			@include column(4);
			margin-bottom:0;
			text-align:center;

			img {
				display:block;
				margin:0 auto;
			}

			&:first-child,
			&:nth-child(2) {
				padding-right:0;
			}
		}
	}
}

// awards
.cgc-contest-awards-wrap {
	.cgc-contest-inner {
		padding-left:0;
		padding-right:0;

		ul,ol {
			@include clearfix();
		}
	}
	.cgc-contest-awards {
		@include clearfix();

		li {
			@include column(4);
			margin-bottom:0;
			.cgc-contest-award-inner {
				margin-bottom:0;
				background:lighten($black,3%);
				padding:15px;

				p {
					margin-bottom:0;
				}
			}

			&:first-child,
			&:nth-child(2) {
				padding-right:0;
			}
		}
	}
}

// cta
.cgc-contest-cta-wrap {
	text-align:center;
	padding-top:$margin;
	padding-bottom:$margin;
	a {

	}

	p {
		font-style:italic;
		font-size:14px;
		margin:7px auto 0;
	}
}

// entries
.cgc-contest-recent-entries {

}