// body
.cgc-contest-page {
	ul {
		list-style:none;
		padding:0;
		margin:0;
	}
	.page-content {
		position:relative;
		top:-15px;

		.page-content-inner {
			padding:0 15px;
			position:relative;
			top:-150px;
		}
	}
}

.cgc-contest-back{
	background:$background;
	background:$text_background;
	padding:15px;
}

.cgc-contest-header {
	text-align:center;
	position:relative;
	height:550px;

	.cgc-contest-header-img {
		position:absolute;
		left:0;
		top:0;
		height:100%;
		width:100%;
		z-index:0;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
	}

	.cgc-contest-header-inner {
		position:relative;
		z-index:1;
		top:50px;
		text-shadow:0 1px 1px rgba(0,0,0,0.5);
	}
}

// similar
.cgc-contest-sponsors-wrap,
.cgc-contest-awards-wrap,
.cgc-contest-cta-wrap,
.cgc-contest-recent-entries {
	padding-left:15px;
	padding-right:15px;
	margin-bottom:$margin;

}

.cgc-contest-main {
	@include clearfix();
	margin-bottom:$margin;

	h3 {
		margin-top:0;
		border-bottom:1px solid $border_color;
	}
	.cgc-contest-info {
		@include column(8);
	}
	.cgc-contest-sidebar {
		@include column(4);
	}
}

// rules


// sponsors
.cgc-contest-sponsors-wrap {

	h4 {
		text-align:center;
	}

	.cgc-contest-sponsor-logos {
		@include clearfix();
		li {
			width:31%;
			margin:0 1%;
			float:left;
		}
	}
}

// awards
.cgc-contest-awards-wrap {

}

// entries
.cgc-contest-recent-entries {

}