.contest-page-on-cg-cookie-markets {
	.cgc-contest-back {
		background:white;
	}
	.cgc-contest-awards-wrap .cgc-contest-awards li .cgc-contest-award-inner {
		background:darken(white,3);
	}
	.page-content-inner {
		max-width:1024px;
		margin:0 auto;
	}
	.cgc-contest-faq-wrap {
		text-shadow:0 1px 1px rgba(255,255,255,0.8);
	}
}