@import "../../../../../themes/cgcookie-4.0/cgc-sass-framework/cgc-global-variables.scss";
@import "../../../../../themes/cgcookie-4.0/cgc-sass-framework/mixins/all-mixins.scss";

.cgc-contest-wrap {
	@include clearfix();
	position:relative;
	@include opacity(0);
	@include transition(opacity .25s ease-in-out);

	.cgc-contest-entry {
		width: 32.333%;
		float: left;
		margin: 0 1.5% 1.5% 0;

	    .cgc-contest-entry-inner {
			position: relative;
	    	padding-bottom: 56.25%;
	    	padding-top: 35px;
	    	height: 0;
	    	overflow: hidden;
		    iframe {
		    	position: absolute;
			    top:0;
			    left: 0;
			    width: 100%;
			    height: 100%;
		    }

		}

		&.last {
			margin-right:0;
		}

	}
}

.cgc-contest-loading {
    height:200px;
    position: absolute;
    left:0;
    right:0;
    width:100%;

    span {
    	position:absolute;
    	top:65%;
    	color:#999;
    	width:100%;
    	text-align:center;
    }
}

.cgc-contest-loading ~ .cgc-contest-shell {
    height:200px;
}
.cgc-contest-loader {
    height:40px;
    width:40px;
    margin:0px auto;
    top:37%;
    position:relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:3px solid fadeout($blenderColor,80);
    border-right:3px solid fadeout($blenderColor,80);
    border-bottom:3px solid fadeout($blenderColor,80);
    border-top:3px solid $blenderColor;
    border-radius:100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

@media(max-width:768px) {
	.cgc-contest-wrap {
		.cgc-contest-entry {
			width:48.666%;

			&.last {
				margin-right:1.5%;
			}

			&:nth-child(odd) {
				margin-right:0;
			}
		}
	}
}

@media(max-width:480px) {
	.cgc-contest-wrap {
		.cgc-contest-entry {
			width:100%;
			margin:0 auto 14px;
		}
	}
}